body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
div{
    /* border: #000 2px solid; */

}


.container-fluid{
    padding: 20px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    box-shadow: #000 5px 0px 20px;
    background: linear-gradient(#FF4040, #FF6040);
}

header .nav{
    width: 100%;
    height: 7%;
    
}

.nav ul{
    display: flex;
    justify-content: right;
    list-style-type: none;
}
.nav ul li{
    margin: 0px 20px;
    color: #FFF;
    font-weight: bold;
 }


.middle h1, .middle h5{
    
    color: #fff;
    font-weight: bold;
    font-size: 2em;
}

.middle h1{
    margin-top: 15%;
    font-size: 6em;
}


.photo{
    margin-right: 30px;
}


#Dot{
    color: #FF406B;
    font-weight: bold;
    margin: 60px 0px;
    margin-left: 20px;
}

.photo2{
    box-shadow: #000 5px 5px 20px;
    margin-bottom: 30px;
}


.me{
    padding: 30px 0px;
    margin-bottom: 60px;
}

.row .col-xl-6 .certificate, .row .col-xl-6 .jobs{
    box-shadow: #000 5px 5px 10px;
    padding: 60px 20%;
}

.row .col-xl-6 h1{
    color: #FF5740;
    font-weight: bold;
    margin-bottom: 10px;
}


.cadre{
    margin-bottom: 60px;
}


.container-fluid .row{
    margin-top: 10%;
}


.skills li h3{
    color: #FFB440;
    box-shadow: #000 5px 5px 20px;
    padding: 10px 0px;
    margin: 30px 0px;
    padding-left: 30px;

}

.skills li{
    list-style: none;
}

.skills li ul li{
    list-style: inside;
}


.Certificate a{
    text-decoration: none;
    color: #fff;
    background-color: #ff003c;
    padding: 2px;
}


.btn{
    margin-top: 60px;
}